

.app_container{
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: var(--background-platinum);
}


.header_container{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    poosition: relative;
}

.link{
    margin: 0 20px;
    padding: 2px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}












.closedSettings, .openedSettings{
    transition: 0.4s ease;
    position: absolute;
    width: 50vw;
    height: 100vh;
    z-index: 1000;
    background-color: var(--foreground-pale-dogwood);
    box-shadow: 0px 10px 10px grey;
}

.closedSettings{
    left: -2000px;
}

.openedSettings{
    left: 0;
    padding-left: 10px;
    padding-top: 10px;
}

.settingsBtn{
    width: 40px;
    font-weight: bolder;
    font-size: 1.3rem;
    margin: 10px 0px;
}

.openedSettings p{
    margin: 10px 0px;
    margin-left: 10px;
    
}