

.container{
    width: 100vw;
    height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container h1{
    position: absolute;
    top: 20px;
    color: var(--font-rose-red);
}

.cartsField{
    width: 90vw;
    height: 80%;
    position: relative;
}

.cart_years{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.cart_years h2{
    font-weight: bolder;
}

.icon{
    margin: 0px 10px;
}




.addBtn, .filter{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;

    cursor: pointer;
}

.filter{
    top: 5px;
    left: 5px;
}

.addBtn:hover, .filter:hover, .icon:hover{
    transition: 0.4s ease;
    color: var(--font-rose-red);
}


.carts{
    height: 500px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageLink{
    width: 100vw;
}

.cart{
    box-shadow: 0px 2px 4px grey;
    width: 90%;
    height: 100px;
    margin: 10px 0px;
    position: relative;
    cursor: pointer;
}



.cardImage{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.cardImageHovered{
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.5);
    
}





.cardTitle{
    transition: 0.4s ease;
    position: absolute;
    color: var(--background-feldgrau);
    top: 0px;
    left: 0px;
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.noCardTitle{
    display: none;
}









/* ---------------------------------------- [id].js ---------------------------------------- */



.goBackLink{
    margin-left: 10px;
    font-size: 1.3rem;
    cursor: pointer;
}

.goBackLink:hover{
    transition: 0.4s ease;
    color: var(--font-rose-red);
}


.individualCardContainer{
    min-height: 82vh;
    display: flex;
    justify-content: center;

}

.individualCard{
    height: 75vh;
    width: 80vw;

    border: 2px solid var(--background-feldgrau);
   
}

.cardTitleField{
    border-bottom: 2px solid var(--background-feldgrau);
    height: 20%;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cardTitleField h1{
    z-index: 100;
    font-size: 1.3rem;
    font-weight: bolder;
    width: 200px;
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    background: rgba(255,255,255, 0.4)

}

.image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stampsField{
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 2px solid var(--background-feldgrau);
    position: relative;
}

.stampsFirstRow, .stampsSecondRow{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  
    
}

.stamp{
    background-color: var(--foreground-pale-dogwood);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    cursor: pointer;
    border-bottom: 3px solid var(--background-feldgrau);
    border-top: 3px solid var(--background-feldgrau);
    
}

.cardInfos{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

