

.container{
    width: 100vw;
    height: 82vh;
    background-color: var(--background-platinum);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1{
    color: var(--font-rosy-brown);
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: bolder;
    margin: 15px 0px;
}

.userField{
    width: 90vw;
    height: 70vh;
}

.link{
    color: var(--font-rose-red);
    font-weight: bolder;
}
